RED_WEBHOOK_SECRET=change-me
RED_DEPLOY_REPO_PATH=/srv/projects
RED_DEPLOY_CONFIG_PATH=/opt/red-deploy/config.json
RED_DEPLOY_PORT_MAPPING_FILE=/opt/red-deploy/port-mapping.json
RED_DEPLOY_BASE_PORT=8600
RED_DEPLOY_LOG_PATH=/var/log/red-deploy
RED_DEPLOY_DB_PASSWORD=change-me
