OPENCLAW_GATEWAY_HOST=127.0.0.1
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_GATEWAY_TOKEN=change-me
OPENCLAW_PUBLIC_BASE_URL=http://redsystems.ddns.net/openclaw/

OPENCLAW_DEFAULT_TEXT_MODEL=red/NIM - mistralai/mistral-small-4-119b-2603
OPENCLAW_DEFAULT_VISION_MODEL=red/NIM - nvidia/nemotron-nano-12b-v2-vl
OPENCLAW_DEFAULT_IMAGE_MODEL=NIM - flux.2-klein-4b
OPENCLAW_DEFAULT_TTS_VOICE=pt-BR-ThalitaMultilingualNeural

OPENCLAW_PROXY_BASE_URL=http://127.0.0.1:8080
OPENCLAW_WHATSAPP_ALLOWED_NUMBER=+5511999999999
