REDSYSTEMS_HOST=redsystems.ddns.net
REDSYSTEMS_SSH_PORT=2580
REDSYSTEMS_SSH_USER=root
REDSYSTEMS_SSH_PASSWORD=

REDSYSTEMS_PROXY_URL=http://redsystems.ddns.net:8080
RED_PROXY_NVIDIA_API_KEY=

REDVM_DASH_PASSWORD=
REDVM_SECRET=

REDIA_PROXY_URL=http://redsystems.ddns.net:8080
REDIA_ADMIN_TOKEN=
REDIA_IMAGE_WORKER_TOKEN=
GROQ_API_KEY=
OPENAI_API_KEY=

REDTRADER_PASSWORD=
REDTRADER_SECRET=
REDTRADER_PROXY_URL=http://redsystems.ddns.net:8080
