PORT=2580
SEB_REMOTE_VIEW_DOWNLOADS_DIR=/opt/red-seb-monitor/data/downloads
REDVM_REPO_DIR=/opt/redvm-repo
RED_DASHBOARD_DIR=/opt/redvm-dashboard
REDIA_DIR=/opt/redia
RED_PORTAL_DIR=/var/www/red-portal
RED_SEB_SESSION_STALE_MS=5000
RED_SEB_PUBLIC_URL=http://redsystems.ddns.net:2580
SEB_SESSION_WEBHOOK_URL=http://127.0.0.1:2590/webhook/seb-session
