PORT=2580
SEB_REMOTE_VIEW_DOWNLOADS_DIR=/opt/red-seb-monitor/data/downloads
REDVM_REPO_DIR=/opt/redvm-repo
RED_DASHBOARD_DIR=/opt/redvm-dashboard
REDIA_DIR=/opt/redia
RED_PORTAL_DIR=/var/www/red-portal
