SEB_WEBHOOK_PORT=2590
SEB_WHATSAPP_TARGET=+5511999999999
OPENCLAW_BIN=/usr/local/bin/openclaw
OPENCLAW_CHANNEL=whatsapp
OPENCLAW_HOME=/home/openclaw
OPENCLAW_PATH=/opt/red-openclaw/node/bin:/opt/red-openclaw/npm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
RED_SEB_PUBLIC_URL=http://redsystems.ddns.net:2580
