MSREDPDF_HOST=127.0.0.1
MSREDPDF_PORT=3142
MSREDPDF_DATA_DIR=/var/lib/msredpdf
MSREDPDF_PROXY_BASE_URL=http://127.0.0.1:8080/v1
MSREDPDF_PROXY_API_KEY=
MSREDPDF_MODEL=mistral-large-latest
MSREDPDF_REVIEW_MODEL=glm-5.1
MSREDPDF_REDACT_BEFORE_AI=1
MSREDPDF_MAX_UPLOAD_MB=80
MSREDPDF_MAX_ANALYSIS_PAGES=80
MSREDPDF_MAX_CHARS_WHOLE=45000
MSREDPDF_MAX_CHARS_PER_PAGE=12000
MSREDPDF_REPORT_TOKENS=5200
MSREDPDF_PAGE_NOTE_TOKENS=1000
MSREDPDF_ENABLE_OCR=1
MSREDPDF_OCR_LANG=por+eng
MSREDPDF_OCR_DPI=200
MSREDPDF_OCR_MIN_CHARS=40
MSREDPDF_OCR_MAX_PAGES=40
MSREDPDF_REQUEST_TIMEOUT=180
